@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
    font-size: 12px;

    padding: 0;
    margin: 0;
}

.lines1, .lines2, .lines3{
    width: 25px;
    height: 3px;
    margin: 6px;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.crossxs .lines2{
    opacity: 0;
}

.crossxs .lines3{
    transform: rotate(45deg) translate(-6px, -6px);
}

/* Start Left Sidebar Section */

/* start left sidebar */
.sidebars{
    min-height: 100vh;
    background-color: #333;
}

.sidebarlinks{
    opacity: 0.75;
    position: relative;
    transition: all 0.4s;
}

.sidebarlinks:hover{
    background-color: #555;
    opacity: 1;
}

.currents{
    opacity: 1;
    box-shadow: -2px 0 10px #111;
    transition: transform 0.3s;
}

.currents:hover{
    transform: translateY(-1px);
}

.mores{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* end left sidebar */

/* End Left Sidebar Section */